@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Muli");
/* line 1, ../../../development/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, ../../../development/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, ../../../development/sass/_reset.scss */
body {
  line-height: 1; }

/* line 29, ../../../development/sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 32, ../../../development/sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, ../../../development/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, ../../../development/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../../../development/sass/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, ../../../development/sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 12, ../../../development/sass/_base.scss */
body {
  background-color: #EBDDC0;
  width: 100%;
  margin: 0; }

/* line 18, ../../../development/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo Bhaina", cursive;
  color: #6A94D7; }

/* line 24, ../../../development/sass/_base.scss */
h1 {
  font-size: 3.5rem; }

/* line 28, ../../../development/sass/_base.scss */
p {
  font-family: "Muli", sans-serif;
  color: #706C60;
  font-size: 1rem; }

/* line 34, ../../../development/sass/_base.scss */
a, a:visited, a:active {
  color: #E9FDFF;
  text-decoration: none; }

/* line 40, ../../../development/sass/_base.scss */
a:hover {
  color: #6A94D7; }

/* line 44, ../../../development/sass/_base.scss */
main {
  width: 90%;
  margin: 1.5rem auto;
  overflow: hidden; }

/* line 51, ../../../development/sass/_base.scss */
.redborder {
  border: 1px solid #EB0000; }

/* line 55, ../../../development/sass/_base.scss */
.error {
  font-weight: bold;
  color: #EB0000; }

/* line 60, ../../../development/sass/_base.scss */
.success {
  font-weight: bold;
  color: #00BD00; }

/* line 65, ../../../development/sass/_base.scss */
.productList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline; }

/* line 73, ../../../development/sass/_base.scss */
.product {
  width: 18%;
  background-color: #E9FDFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #6A94D7;
  margin: 0.5rem; }
  /* line 80, ../../../development/sass/_base.scss */
  .product .photoBox {
    width: 100%; }
    /* line 83, ../../../development/sass/_base.scss */
    .product .photoBox .prodPhoto {
      width: 100%;
      height: auto; }
  /* line 89, ../../../development/sass/_base.scss */
  .product .prodText {
    width: 100%;
    padding: 0.425rem; }
  /* line 94, ../../../development/sass/_base.scss */
  .product .info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6A94D7; }
  /* line 100, ../../../development/sass/_base.scss */
  .product .hl {
    background-color: #6A94D7;
    padding: 0.425rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    /* line 105, ../../../development/sass/_base.scss */
    .product .hl h4 {
      color: #ABCCD8; }
    /* line 109, ../../../development/sass/_base.scss */
    .product .hl p {
      color: #ABCCD8; }
  /* line 114, ../../../development/sass/_base.scss */
  .product a, .product a:visited, .product a:active {
    color: #6A94D7;
    text-decoration: underline; }

/* line 120, ../../../development/sass/_base.scss */
.center {
  text-align: center; }

/* line 1, ../../../development/sass/_header.scss */
header {
  background-color: #ABCCD8;
  width: 100%;
  height: auto; }
  /* line 6, ../../../development/sass/_header.scss */
  header .headerBox {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    /* line 13, ../../../development/sass/_header.scss */
    header .headerBox .shopName {
      padding: 0.650rem; }
    /* line 17, ../../../development/sass/_header.scss */
    header .headerBox .shopLogo {
      height: 3.5rem;
      width: auto;
      padding: 0.650rem; }
      /* line 22, ../../../development/sass/_header.scss */
      header .headerBox .shopLogo .logoSvg {
        width: 3.2rem;
        height: auto; }

/* line 1, ../../../development/sass/_footer.scss */
footer {
  background-color: #ABCCD8;
  width: 100%;
  margin-top: 0.850rem;
  margin-bottom: 1rem; }
  /* line 7, ../../../development/sass/_footer.scss */
  footer .footerBox {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex; }
    /* line 13, ../../../development/sass/_footer.scss */
    footer .footerBox .footerText {
      width: 50%;
      display: flex;
      font-size: 1.5rem; }
      /* line 18, ../../../development/sass/_footer.scss */
      footer .footerBox .footerText h3 {
        font-size: 2rem; }
      /* line 22, ../../../development/sass/_footer.scss */
      footer .footerBox .footerText .footerAdr, footer .footerBox .footerText footerEmpty {
        width: 50%;
        padding: 10px; }
    /* line 29, ../../../development/sass/_footer.scss */
    footer .footerBox .socialBox {
      width: 50%;
      display: flex;
      align-items: center; }
      /* line 34, ../../../development/sass/_footer.scss */
      footer .footerBox .socialBox .socialIcon {
        width: 25%;
        text-align: center;
        font-size: 2.5rem;
        color: #6A94D7; }

/* line 1, ../../../development/sass/_navbar.scss */
nav {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #E9FDFF;
  margin: 0; }
  /* line 8, ../../../development/sass/_navbar.scss */
  nav a, nav a:visited, nav a:active {
    color: black; }
  /* line 12, ../../../development/sass/_navbar.scss */
  nav ul {
    padding: 0;
    margin: 0; }
  /* line 17, ../../../development/sass/_navbar.scss */
  nav li {
    display: inline;
    position: relative; }
  /* line 22, ../../../development/sass/_navbar.scss */
  nav ul ul {
    position: absolute;
    display: none; }
  /* line 28, ../../../development/sass/_navbar.scss */
  nav li:hover ul {
    display: block; }

/* line 1, ../../../development/sass/_login.scss */
.formBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

/* line 8, ../../../development/sass/_login.scss */
.loginBox, .signupBox {
  width: 50%;
  background-color: #E9FDFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #6A94D7; }
  /* line 13, ../../../development/sass/_login.scss */
  .loginBox h3, .signupBox h3 {
    font-size: 2em;
    padding: 0.850rem; }
  /* line 18, ../../../development/sass/_login.scss */
  .loginBox a, .loginBox a:visited, .loginBox a:active, .signupBox a, .signupBox a:visited, .signupBox a:active {
    color: #00BD00;
    text-decoration: underline; }
  /* line 23, ../../../development/sass/_login.scss */
  .loginBox .login, .loginBox .signup, .signupBox .login, .signupBox .signup {
    width: 50%;
    margin: 10px auto;
    min-height: 60vh; }
    /* line 28, ../../../development/sass/_login.scss */
    .loginBox .login input, .loginBox .signup input, .signupBox .login input, .signupBox .signup input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: 0.425rem; }
    /* line 33, ../../../development/sass/_login.scss */
    .loginBox .login .button, .loginBox .signup .button, .signupBox .login .button, .signupBox .signup .button {
      margin-top: 0.425rem;
      font-size: 1.1rem;
      color: #E9FDFF;
      background-color: #00BD00; }

/* line 1, ../../../development/sass/_access401.scss */
.text-box {
  width: 50%;
  margin: 0.850rem auto;
  border: 5px solid #6A94D7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  height: 70vh;
  background-color: #E9FDFF;
  padding: .850rem;
  text-align: center; }
  /* line 11, ../../../development/sass/_access401.scss */
  .text-box a, .text-box a:visited, .text-box a:active {
    color: #6A94D7;
    text-decoration: underline; }
  /* line 16, ../../../development/sass/_access401.scss */
  .text-box h3 {
    padding-bottom: 2rem; }
  /* line 20, ../../../development/sass/_access401.scss */
  .text-box .denied {
    width: 262px;
    height: auto;
    margin: 3em auto; }
    /* line 25, ../../../development/sass/_access401.scss */
    .text-box .denied img {
      width: 100%;
      height: auto; }

/* line 1, ../../../development/sass/_addProd.scss */
.addBox {
  width: 100%;
  margin: 2rem 0; }
  /* line 6, ../../../development/sass/_addProd.scss */
  .addBox .addProductsForm {
    width: 50%;
    margin: 1rem auto;
    background-color: #E9FDFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #6A94D7;
    padding: 3rem; }
    /* line 14, ../../../development/sass/_addProd.scss */
    .addBox .addProductsForm input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: 0.425rem; }
    /* line 19, ../../../development/sass/_addProd.scss */
    .addBox .addProductsForm .textArea {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: 0.425rem;
      width: 260px;
      height: 200px; }
    /* line 26, ../../../development/sass/_addProd.scss */
    .addBox .addProductsForm .button {
      margin-top: 0.425rem;
      font-size: 1.1rem;
      color: #E9FDFF;
      background-color: #00BD00; }

/* line 1, ../../../development/sass/_oneProduct.scss */
.oneProduct {
  width: 60%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #6A94D7;
  padding: 0.425rem;
  margin: 0 auto;
  background-color: #E9FDFF; }
  /* line 9, ../../../development/sass/_oneProduct.scss */
  .oneProduct .prodBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    /* line 15, ../../../development/sass/_oneProduct.scss */
    .oneProduct .prodBox .prodInfo, .oneProduct .prodBox .description {
      width: 48%; }
    /* line 19, ../../../development/sass/_oneProduct.scss */
    .oneProduct .prodBox .photoBox {
      width: 100%; }
      /* line 22, ../../../development/sass/_oneProduct.scss */
      .oneProduct .prodBox .photoBox .prodPhoto {
        width: 100%;
        height: auto; }

/* line 30, ../../../development/sass/_oneProduct.scss */
.webshop .topbar h3 {
  color: #ABCCD8; }

/* line 1, ../../../development/sass/_shop.scss */
.webshop {
  width: 100%; }
  /* line 4, ../../../development/sass/_shop.scss */
  .webshop .category {
    width: 100%; }
    /* line 7, ../../../development/sass/_shop.scss */
    .webshop .category .topbar {
      width: 100%;
      background-color: #6A94D7;
      padding: 0.650rem;
      margin: 1rem 0; }
      /* line 13, ../../../development/sass/_shop.scss */
      .webshop .category .topbar a, .webshop .category .topbar a:visited, .webshop .category .topbar a:active {
        text-decoration: underline; }
      /* line 17, ../../../development/sass/_shop.scss */
      .webshop .category .topbar a:hover {
        color: lightgrey; }
  /* line 23, ../../../development/sass/_shop.scss */
  .webshop .type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline; }
    /* line 30, ../../../development/sass/_shop.scss */
    .webshop .type .typeTop {
      width: 100%;
      background-color: #ABCCD8;
      padding: 0.325rem;
      margin: 0.5rem 0; }
      /* line 36, ../../../development/sass/_shop.scss */
      .webshop .type .typeTop a, .webshop .type .typeTop a:visited, .webshop .type .typeTop a:active {
        color: #6A94D7;
        text-decoration: underline; }
      /* line 41, ../../../development/sass/_shop.scss */
      .webshop .type .typeTop a:hover {
        color: #706C60; }
