html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: $background;
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {

  font-family: $fontHeadline;
  color: $darkblue;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: $fontText;
  color: $text;
  font-size: 1rem;
}

a, a:visited, a:active {
  color: $lightgreen;
  text-decoration: none;

}

a:hover {
  color: $darkblue;
}

main {
  width: 90%;
  margin: 1.5rem auto;
  overflow: hidden;

}

.redborder {
  border: 1px solid $error;
}

.error {
  font-weight: bold;
  color: $error;
}

.success {
  font-weight: bold;
  color: $success
}

.productList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.product {
  width: 18%;
  background-color: $lightgreen;
  @include border-radius(10px);
  @include border(1px);
  margin: 0.5rem;

  .photoBox {
    width: 100%;

    .prodPhoto {
      width: 100%;
      height: auto;
    }
  }

  .prodText {
    width: 100%;
    padding: 0.425rem;
  }

  .info {
    font-size: 1.2rem;
    font-weight: bold;
    color: $darkblue;
  }

  .hl {
    background-color: $darkblue;
    padding: 0.425rem;
    @include border-radius(10px);

    h4 {
      color: $lightblue;
    }

    p {
      color: $lightblue;
    }
  }

  a, a:visited, a:active {
    color: $darkblue;
    text-decoration: underline;
  }

}