@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Muli');

h1, h2, h3, h4, h5, h6 {

    font-family: 'Baloo Bhaina', cursive;
}

p {
    font-family: 'Muli', sans-serif;
}

body {
    background-color: red;
}