@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Muli');

$background:        #EBDDC0;
$text:              #706C60;
$lightblue:         #ABCCD8;
$darkblue:          #6A94D7;
$lightgreen:        #E9FDFF;
$success:           #00BD00;
$error:             #EB0000;



$fontHeadline: 'Baloo Bhaina', cursive;
$fontText: 'Muli', sans-serif;